$module: 'carouselar';
$color-light: #fff;
$color-dark: #333;
$measure: 24px;
$transition-duration: 0.3s;

.#{$module} {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  &__inner-container {
    height: 100%;
    transition: transform $transition-duration;
  }

  &__image-container {
    position: relative;
    height: 100%;
    transition: width $transition-duration;
    display: inline-block;
  }

  &__image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__loader {
    border-radius: $measure;
    border: 2px dashed $color-light;
    width: $measure;
    height: $measure;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: (-$measure / 2) 0 0 (-$measure / 2);
    -webkit-animation: carouselar-spinner $transition-duration * 6 linear infinite;
    -moz-animation: carouselar-spinner $transition-duration * 6 linear infinite;
    animation: carouselar-spinner $transition-duration * 6 linear infinite;
  }

  &__navigation {
    position: relative;

    &__index {
      width: 100%;
      text-align: center;
    }

    &__button {
      position: absolute;
      top: 0;
      z-index: 1;
      cursor: pointer;
      padding: $measure / 2;

      &--active, &:hover {
        color: $color-light;
        background: $color-dark;
      }

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }

      &--active, &--index {
        position: relative;
        display: inline-block;
      }
    }
  }
}

@-webkit-keyframes carouselar-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes arouselar-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes arouselar-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
